<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cdu.zb.mapper.BanMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cdu.zb.entity.BanEntity">
        <id column="id" property="id" />
        <result column="uid" property="uid" />
        <result column="status" property="status" />
        <result column="dealer" property="dealer" />
        <result column="deal_time" property="dealTime" />
        <result column="free_time" property="freeTime" />
        <result column="reson" property="reson" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, uid,  dealer, deal_time, free_time, reson
    </sql>

    <select id="getBanList" resultType="cdu.zb.response.BanResponse">
        select  b.id as id,b.uid as uid,b.dealer as dealer,
        b.deal_time as dealTime,b.free_time as freeTime,b.reason as reason ,
        u.username as username,user.username as dealUsername
        from ban as b,user as u,user as user
        where b.uid=u.id and b.dealer=user.id  and  b.logic_delete_flag=0
        and   b.free_time &lt;#{local} limit #{index},15
    </select>

</mapper>
