<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cdu.zb.mapper.MessageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cdu.zb.entity.MessageEntity">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="uid" property="uid" />
        <result column="event" property="event" />
        <result column="topic_id" property="topicId" />
        <result column="reply_id" property="replyId" />
        <result column="comment_id" property="commentId" />
        <result column="context" property="context" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, uid, event, topic_id, reply_id, comment_id, context
    </sql>

    <select id="getMessage" resultType="cdu.zb.response.MessageResponse">
       select m.id as id,m.user_id as userId,m.uid as uid,m.event as event,m.topic_id as topicId,
m.reply_id as replyId,m.comment_id as commentId,m.context as context,m.create_time as createTime,
m.people_id as peopleId ,r.topic_id as rTopicId,r.context as rContext,t.title as tTitle, (select username
from user where user.id=m.user_id) as username,(select username
from user where user.id=m.uid) as uname,(select username
from user where user.id=m.people_id) as peoplename,m.master_id as masterId,(select username
from user where user.id=m.master_id) as mastername,(select head
from user where user.id=m.user_id) as head
from message as m LEFT JOIN reply as r on m.reply_id=r.id LEFT JOIN topic as t on t.id=m.topic_id
where m.logic_delete_flag=0  and (m.uid=#{userid}  or m.people_id=#{userid} or
m.master_id=#{userid}) and m.user_id <![CDATA[ <> ]]>#{userid}
ORDER BY m.create_time desc limit #{index},30
    </select>

    <select id="getcount" resultType="Integer">
        select count(*) from  message
        where (uid=#{userid}  or people_id=#{userid} or master_id=#{userid}) and user_id <![CDATA[ <> ]]>#{userid}

    </select>
</mapper>
