<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cdu.zb.mapper.TopicMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cdu.zb.entity.TopicEntity">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="plate_id" property="plateId"/>
        <result column="title" property="title"/>
        <result column="context" property="context"/>
        <result column="picture" property="picture"/>
        <result column="likenum" property="likenum"/>
        <result column="replynum" property="replynum"/>
        <result column="first_time" property="firstTime"/>
        <result column="last_time" property="lastTime"/>
        <result column="logic_delete_flag" property="logicDeleteFlag"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, plate_id, title, context, picture, likenum, replynum, first_time, last_time, logic_delete_flag
    </sql>

    <select id="getFirstTopices" resultType="cdu.zb.response.TopicResponse">
        select t.id as id,t.user_id as userId,t.plate_id as plateId,
         t.title as title, t.context as context, t.picture as picture, t.likenum as likenum,
         t.replynum as replynum, t.first_time as firstTime, t.last_time as lastTime,
         t.logic_delete_flag as logic_delete_flag, u.username as username,
         p.name as platename,b.name as blockname
         from topic as t,user as u ,plate as p,block as b
         where t.user_id=u.id and t.plate_id=p.id and t.logic_delete_flag=0
         and u.logic_delete_flag=0 and p.logic_delete_flag=0  and b.logic_delete_flag=0
         and b.id=p.block_id
    </select>

    <select id="getTopicByPlateid" resultType="cdu.zb.response.TopicResponse">
        select t.id as id,t.user_id as userId,t.plate_id as plateId,
         t.title as title, t.context as context, t.picture as picture, t.likenum as likenum,
         t.replynum as replynum, t.first_time as firstTime, t.last_time as lastTime,
         t.logic_delete_flag as logic_delete_flag, u.username as username,
         p.name as platename,b.name as blockname ,t.count as count,t.likenum as likenum
         from topic as t,user as u ,plate as p,block as b
         where t.user_id=u.id and t.plate_id=p.id and t.logic_delete_flag=0
         and u.logic_delete_flag=0 and p.logic_delete_flag=0  and b.logic_delete_flag=0
         and b.id=p.block_id and t.plate_id=#{plateid}
         order by t.last_time desc limit #{index},15
    </select>

    <select id="getTopicbyid" resultType="cdu.zb.response.TopicResponse">
        select t.id as id,t.user_id as userId,t.plate_id as plateId,
         t.title as title, t.context as context, t.picture as picture, t.likenum as likenum,
         t.replynum as replynum, t.first_time as firstTime, t.last_time as lastTime,
         t.logic_delete_flag as logic_delete_flag,t.count as count,
         p.name as platename,p.depict as depict,u.head as head,u.exp as exp,u.username as username,u.sign as sign,
         t.likenum as likenum
         from topic as t,plate as p,user as u
         where  t.plate_id=p.id and t.logic_delete_flag=0
         and  p.logic_delete_flag=0  and t.id=#{id} and u.id=t.user_id and u.logic_delete_flag=0
    </select>

    <select id="getTopicFlow" resultType="cdu.zb.response.TopicResponse">
          select t.id as id,t.user_id as userId,t.plate_id as plateId,
         t.title as title, t.context as context, t.picture as picture, t.likenum as likenum,
         t.replynum as replynum, t.first_time as firstTime, t.last_time as lastTime,
         t.logic_delete_flag as logic_delete_flag, u.username as username,
         p.name as platename,b.name as blockname ,t.count as count,
         t.likenum as likenum
         from topic as t,user as u ,plate as p,block as b
         where t.user_id=u.id and t.plate_id=p.id and t.logic_delete_flag=0
         and u.logic_delete_flag=0 and p.logic_delete_flag=0  and b.logic_delete_flag=0
         and b.id=p.block_id
         order by t.last_time  desc limit #{index},15
    </select>

    <select id="getTopicByUserid" resultType="cdu.zb.response.TopicResponse">
          select t.id as id,t.user_id as userId,t.plate_id as plateId,
         t.title as title, t.context as context, t.picture as picture, t.likenum as likenum,
         t.replynum as replynum, t.first_time as firstTime, t.last_time as lastTime,
         t.logic_delete_flag as logic_delete_flag, u.username as username,
         p.name as platename,b.name as blockname ,t.count as count,
         t.likenum as likenum
         from topic as t,user as u ,plate as p,block as b
         where t.user_id=u.id and t.plate_id=p.id and t.logic_delete_flag=0
         and u.logic_delete_flag=0 and p.logic_delete_flag=0  and b.logic_delete_flag=0
         and b.id=p.block_id and t.user_id=#{userId}
         order by t.first_time  desc limit #{index},15
    </select>

    <select id="getTop" resultType="cdu.zb.response.TopicResponse">
        select t.id as id,t.user_id as userId,t.plate_id as plateId,
         t.title as title, t.context as context, t.picture as picture, t.likenum as likenum,
         t.replynum as replynum, t.first_time as firstTime, t.last_time as lastTime,
         t.logic_delete_flag as logic_delete_flag, u.username as username,
         p.name as platename,b.name as blockname ,t.count as count,
         t.likenum as likenum
         from topic as t,user as u ,plate as p,block as b
         where t.user_id=u.id and t.plate_id=p.id and t.logic_delete_flag=0
         and u.logic_delete_flag=0 and p.logic_delete_flag=0  and b.logic_delete_flag=0
         and b.id=p.block_id and t.first_time&gt;#{localDateTime}
    </select>

    <select id="getCollectTopic"  resultType="cdu.zb.response.TopicResponse">
        select t.id as id,t.user_id as userId,t.plate_id as plateId,
         t.title as title, t.context as context, t.picture as picture, t.likenum as likenum,
         t.replynum as replynum, t.first_time as firstTime, t.last_time as lastTime,
         t.logic_delete_flag as logic_delete_flag, u.username as username,
         p.name as platename,b.name as blockname ,t.count as count,
         t.likenum as likenum
         from topic as t,user as u ,plate as p,block as b,collect as c
         where t.user_id=u.id and t.plate_id=p.id and t.logic_delete_flag=0
         and u.logic_delete_flag=0 and p.logic_delete_flag=0  and b.logic_delete_flag=0
         and b.id=p.block_id and c.user_id=#{userId} and c.topic_id=t.id and c.logic_delete_flag=0
         order by t.first_time  desc limit #{index},15
    </select>

</mapper>
