<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cdu.zb.mapper.SchoolRegisterMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cdu.zb.entity.SchoolRegisterEntity">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="name" property="name" />
        <result column="birth" property="birth" />
        <result column="gender" property="gender" />
        <result column="password" property="password" />
        <result column="mail" property="mail" />
        <result column="grade" property="grade" />
        <result column="college" property="college" />
        <result column="major" property="major" />
        <result column="num" property="num" />
        <result column="student_no" property="studentNo" />
        <result column="ask_time" property="askTime" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, name, birth, gender, password, mail, grade, college, major, num, student_no, ask_time, status
    </sql>

</mapper>
